.red {
    color: red;
}
.blue {
    color: rgb(60, 60, 255);
}
.orange {
    color: orange;
}
.purple {
    color: purple;
}
.greenyellow {
    color: greenyellow;
}
.green {
    color: rgb(48, 180, 48);
}
.skyblue {
    color: skyblue;
}
.white {
    color: white;
}
.black {
    color: rgb(165, 165, 165);
}
.yellow {
    color: yellow;
}
.none {
    list-style: none;
}
.b-blue {
    background-color: rgb(51, 139, 255);
}
ul li {
    width: 1300px;
    height: 80px;
    background-color: skyblue;
    color: black;
    margin: 0px;
    list-style: none;
}